/* --------------------------------------
=========================================
COLOR : GREEN  COLOR-3

MAIN COLOR CODE: #00ab66

DEEP COLOR CODE: #01995c
=========================================
----------------------------------------- */
::-moz-selection {
    background: #00ab66;
}

::selection {
    background: #00ab66;
}

::-moz-selection {
    background: #00ab66;
}

a {
    color: #00ab66;
}

a:hover {
    color: #00ab66;
}
.navbar-brand i,
.navbar-brand span{
  color: #00ab66;
}
.navbar-nav > li.active::after,
.navbar-nav > li.active::before,
.navbar-nav > li.active > a::before,
.navbar-nav > li.active > a::after{
    border-color: #00ab66; 
    -moz-use-text-color -moz-use-text-color #00ab66;
}
.navbar-nav > li.active::after,
.navbar-nav > li.active a > .active::before{
    border-bottom: 1px solid #00ab66;
}
.navbar-nav > li.active::after,
.navbar-nav > li.active a ::before {
    border-right: 1px solid #00ab66;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus{
  color: #00ab66;
}

.navbar-default .navbar-nav>li>a:hover, 
.navbar-default .navbar-nav>li>a:focus {
  color: #00ab66;
}
.strong-color {
    color: #00ab66!important;
}
.text-white span {
  color: #00ab66!important;
}
#countdown .countdown-period{
  color: #00ab66;
}
.intro-scroll-down .mouse{
  border:2px solid #00ab66;;
}
.default-button {
    background: #00ab66;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #01995c), color-stop(100%, #00ab66));
    background: -webkit-linear-gradient(top, #01995c 0%, #00ab66 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#01995c), to(#00ab66));
    background: linear-gradient(to bottom, #01995c 0%, #00ab66 100%);
    -webkit-box-shadow: 0px 3px 0px #015936;
    box-shadow: 0px 3px 0px #015936;
}

.default-button:hover {
    background: #00ab66 !important;
}

.default-button:active {
    background: #00ab66 !important;
}

.about-icon-wrapper .fa {
    color: #00ab66;
}

.single-service-icon {
    color: #00ab66;
}

.contact-info .fa {
    color: #00ab66;
}
.form-control:focus{
  border-color: #00ab66; 
}

.footer {
    background: #00ab66;
}
.copyright a{
  color: #333;
}

.footer-line {
    border-top: 1px solid #01995c;
}