<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
 
>>>>>>> 2a4b0d8636ec4c33a576da0f5507b9785dca1e6a
>>>>>>> 77667542f1f15b06d17555147d7fef54763e1120
</head>
<body>

<%= yield %>

</body>
</html>
